<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body ng-app="flashcardApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">Home</a>
          <a class="navbar-brand" href="#/review">Review</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <ui-view></ui-view>
    </div>

    <script type="text/ng-template" id="/home.html">
      <form ng-submit="addFlashcard()">
        <div>
          <input class="form-control" type="text" placeholder="Word" ng-model="question"></input>
        </div>
        <div>
          <textarea class="form-control" type="text" placeholder="Definition" ng-model="answer"></textarea>
        </div>
        <div><button type="submit">Create flashcard</button></div>
      </form>

      <hr />

      <div>
        <div ng-repeat="flashcard in flashcards">
          <div>Q: {{ flashcard.question }}</div>

          <div>A: {{ flashcard.answer }}</div>
          <div>bin: {{ flashcard.bin }}</div>
          <div>Scheduled for review:
            <span am-time-ago="flashcard.scheduled_time_to_revisit"></span>
          </div>
          <div>Times wrong: {{ flashcard.times_wrong }}</div>

          <hr ng-show="!$last" />
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/review.html">
      <div ng-show="nextCardToReview().msg">
        <div>{{ nextCardToReview().msg }}</div>
      </div>

      <div ng-show="nextCardToReview().question">
        <div>The word is: {{ nextCardToReview().question }}</div>
        <button ng-click="readyToReview=true" ng-hide="readyToReview">Show definition</button>
      </div>

      <div ng-show="readyToReview">
        <div>The definition is: {{ nextCardToReview().answer }}</div>
        <button ng-click="markCorrect()">I got it!</button> 
        <button ng-click="markIncorrect()">Whoops, I did not get it.</button> 
      </div>
    </script>
  </body>
</html>
